@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

/* IDEA: THE THEME OF WEBSITE SHOULD BE FISHING CATS PIXEL ART */

:root {
  --white-transparent: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* elements */

body {
  overflow: auto;
  font-family: 'EB Garamond', 'Inter', sans-serif;
  background: turquoise;
}

h1 {
  word-break: nowrap;
}

/* navbar component */

.nb-sec {
  position: fixed;
  background-color: darkslateblue;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: smaller;
  z-index: 9999;
}

#left {
  width: 40%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  width: 20%;
  background-color: darkorange;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  width: 40%;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nb-sec ul {
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nb-sec ul li {
  list-style-type: none;
}

.nb-sec li a {
  text-decoration: none;
}

/* front page component */

.front-sec {
  padding-top: 250px;
  padding-bottom: 200px;
  background-color: turquoise;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#socials {
  display: flex;
}

#front-links {
  display: flex;
}

/* about component */

.about-section {
  background-color: orange;
  color: yellow;
  border: greenyellow solid 5px;
}

#about-title {
  font-size: 50px;
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: black;
}

/* skills component */

.skill-sec {
  padding: 40px 40px;
  background-color: turquoise;
  color: black;
  border: red solid 5px;
}

#skill-title {
  font-size: 50px;
  text-align: center;
}

#skill-small-title {
  font-size: 25px;
}

.skill-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 20px;
}

.skill-icons img {
  padding: 8px;
}

#languages {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

#frameworks {
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

#envir {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

/* project component */

.project-section {
  padding: 40px 40px;
  background-color: darkorange;
  color: yellow;
  border: greenyellow solid 5px;
}

#project-title {
  font-size: 50px;
  text-align: center;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.repo {
  background-color: black;
  margin: 40px;
  padding: 40px;
  flex: 0 0 50%;
}

/* media query elements */

#util-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hide-on-small {
  display: none;
}

#heading-big {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}

#heading-small {
  display: none;
  justify-content: center;
  align-items: center;
}

/* contact component */



/* media queries */

@media screen and (max-width: 1100px) {
  .nb-sec ul {
    gap: 10px;
  }
  .nav-links {
    display: none;
  }
  #hide-on-small {
    display: flex;
    justify-content: center;
  }
  body {
    background-color: plum;
  }
  #heading-big {
    display: none;
  }
  #heading-small {
    display: flex;
    font-size: 45px;
  }

}

/* other */

.square {
  width: 50px;
  height: 50px;
  background-color: pink;
  border: plum solid 2px;
  border-radius: 10px;
  margin: 20px;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: pink;
  border: black solid 1px;
  margin: 20px;
}

.pixel-art {
  background-color: yellow;
  image-rendering: pixelated;
  width: 50px;
}