@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --white-transparent: rgba(255, 255, 255, 0.5);
  font-family: 'Inter', sans-serif;
  color: black;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* elements */

body {
  background-color: darkslateblue;
  overflow: auto;
}

h1 {
  word-break: nowrap;
}

/* navbar component */

.nb-sec {
  position: fixed;
  background-color: darkslateblue;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: smaller;
  z-index: 9999;
}

#left {
  width: 40%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  width: 20%;
  background-color: darkorange;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  width: 40%;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nb-sec ul {
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nb-sec ul li {
  list-style-type: none;
}

.nb-sec li a {
  text-decoration: none;
}

/* front page component */

.front-sec {
  padding-top: 250px;
  padding-bottom: 200px;
  background-color: turquoise;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#socials {
  display: flex;
}

#front-links {
  display: flex;
}

/* about component */

.about-sec {
  padding: 40px 40px;
  margin: 125px;
  background-color: black;
  color: yellow;
  border-radius: 25px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  gap: 25px;
}

/* skills component */

.skill-sec {
  padding: 40px 40px;
  background-color: turquoise;
  color: black;
  border: black solid 1px;
}

.skill-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 20px;
}

#languages {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

#frameworks {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

#envir {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

/* project component */

.project-sec {
  padding: 40px 40px;
  background-color: darkslateblue;
  color: red;
}

.repo {
  background-color: greenyellow;
  margin: 100px;
  padding: 40px;
}

.project-link {

}

/* media query elements */

#util-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hide-on-small {
  display: none;
}

#heading-big {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}

#heading-small {
  display: none;
  justify-content: center;
  align-items: center;
}

/* contact component */



/* media queries */

@media screen and (max-width: 1100px) {
  .nb-sec ul {
    gap: 10px;
  }
  .nav-links {
    display: none;
  }
  #hide-on-small {
    display: flex;
    justify-content: center;
  }
  body {
    background-color: plum;
  }
  #heading-big {
    display: none;
  }
  #heading-small {
    display: flex;
    font-size: 45px;
  }

}

/* other */

.square {
  width: 50px;
  height: 50px;
  background-color: pink;
  border: black solid 1px;
  margin: 20px;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: pink;
  border: black solid 1px;
  margin: 20px;
}

.pixel-art {
  background-color: yellow;
  image-rendering: pixelated;
  width: 50px;
}